*{
box-sizing:border-box;
}


body{

margin:0;

background:#1e1e1e;

color:white;

font-family:
Microsoft YaHei;

}



.container{

display:flex;

height:100vh;

}



.panel{

padding:15px;

overflow:auto;

border-right:
1px solid #444;

}



.left{

width:20%;

}



.middle{

width:55%;

}



.right{

width:25%;

}




.item{

padding:8px;

margin:5px 0;

border-radius:5px;

cursor:pointer;

}



.folder{

background:#333;

}


.folder:hover{

background:#555;

}



.tag{

background:#264b70;

}


.tag:hover{

background:#3975a8;

}




.selected-item{

background:#333;

padding:8px;

margin:5px 0;

border-radius:5px;

cursor:pointer;

}



.selected-item:hover{

background:#933;

}




.children{

margin-left:20px;

}



button{

width:100%;

padding:10px;

margin-top:10px;

background:#1976d2;

color:white;

border:0;

border-radius:5px;

cursor:pointer;

}



button:hover{

opacity:.8;

}



input{

width:100%;

padding:10px;

}



.search-item{

background:#444;

padding:8px;

margin-top:3px;

cursor:pointer;

}



.path{

color:#aaa;

font-size:12px;

}
