*{
box-sizing:border-box;
}


body{

margin:0;

font-family:
"Microsoft YaHei",
Arial;

background:#1e1e1e;

color:white;

}


.container{

display:flex;

height:100vh;

}




.sidebar{

width:280px;

padding:15px;

border-right:1px solid #444;

overflow-y:auto;

}



#search-input{

width:100%;

padding:10px;

border-radius:6px;

border:none;

margin-bottom:10px;

}



#search-results{

max-height:300px;

overflow:auto;

}




.search-item{

padding:8px;

background:#333;

margin-bottom:5px;

border-radius:5px;

cursor:pointer;

}



.search-item:hover{

background:#555;

}





.category{

padding:10px;

background:#333;

margin-bottom:8px;

border-radius:6px;

cursor:pointer;

}



.category:hover{

background:#555;

}




.random-item{

display:block;

margin:8px 0;

}



button{

width:100%;

padding:12px;

background:#1976d2;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}




.tags-panel{

flex:1;

padding:20px;

overflow:auto;

}



#tags{

display:flex;

flex-wrap:wrap;

gap:10px;

}



.tag{

padding:8px 14px;

background:#333;

border-radius:8px;

cursor:pointer;

}



.tag:hover{

background:#555;

}



.tag.selected{

background:#1976d2;

}







.selected-panel{

width:350px;

padding:20px;

border-left:1px solid #444;

display:flex;

flex-direction:column;

}




#selected-tags{

flex:1;

overflow:auto;

}




.selected-item{

padding:10px;

background:#333;

margin-bottom:8px;

border-radius:6px;

cursor:pointer;

}



.selected-item:hover{

background:#933;

}



.buttons{

display:flex;

gap:10px;

}
.tree-item{

    margin:5px 0;

}


.tree-folder{

    cursor:pointer;

    padding:5px;

    user-select:none;

}



.tree-folder:hover{

    background:#444;

}



.tree-children{

    margin-left:20px;

}



.tree-tag{

    padding:6px;

    margin-left:20px;

    cursor:pointer;

}



.tree-tag:hover{

    background:#555;

}
